/* open-sans-regular - latin */


body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#primary {
    //padding-top: 3rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    text-transform: uppercase;
    word-break: normal;
    margin-bottom: 1rem;

    @include media-breakpoint-down(xs) {
        word-break: break-word;
    }
}

h2 {
    font-weight: bold;
    letter-spacing: .2px;
    font-size: 1.4rem;
    color: $primary;

    @include media-breakpoint-up(md){
        font-size: 2rem;
    }
}

b, strong {
    font-weight: 600;
}

p {
    font-size: 1rem;

    @media (max-width: 370px) {
        word-break: break-word;
    }
}

.box-shadow {
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
}

.lead {
    font-size: 1.5rem;
}

ul {
    padding: 0 1.5em;

    &.container {
        li {
            margin-left: 1em;
        }
    }

    li {
        margin: .5em 0;
        font-size: 1.2em;
    }
}



#secondary .widget {
    background-color: white;
}

