// cards
.cards-references {


    @include media-breakpoint-down(sm){
        a {
            background-color: white!important;
            color: $dark!important;
            flex-direction: row-reverse;
        }
    }

    img {
        position: relative;
        @include media-breakpoint-down(sm){
            display:block!important;
            max-height: unset!important;
        }
        &:after {
            content: '';
            display: table;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: black;
            position: absolute;
        }
    }
    .card-excerpt {
        text-transform: none;
        color: $primary;
        font-size: 1.5em;
        line-height: 1.2;
        padding: 9px 0;
    }
    .funktionen-icons-wrapper {
        margin-top: auto;
        display: flex;
        .funktion-icon-item {
            border: 1px solid $secondary;
            border-radius: 9px;
            padding: 0.7rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            margin: 20px 15px 0 0px;
        }
    }
    .card-flags-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        .card-flag-item {
            color: white;
            font-weight: 600;
            padding: 4px 15px;
            text-align: right;
            font-size: 0.8rem;
            margin-bottom: 5px;
            letter-spacing: 1px;
        }
    }
}

.custom_card {
    background-color: white;
    img {
        object-fit: cover;
        width: 100%;
        height: 21vw;
        max-height: 300px;
        margin: auto;
    }
    a {
        width: 100%;
    }
}

.hero-cards {
    @include media-breakpoint-down(md){
        margin-top: -75px;
    }
    margin-top: -95px;
    position: relative;
    z-index: 5;
    .content {
        min-height: unset!important;
        align-items: center;
        display: flex!important;
    }

    @include media-breakpoint-up(lg) {
        img {
            height: 19vw;
            max-height: 250px;
        }
        margin-top: -135px;
        margin-bottom: 4em;
    }
}
.logo-cards {
    img {
        padding: 15px;
        max-width: 250px;
        height: 250px;
    }
}
.minimal_card {
    background-color: white;
    display: flex;
    flex-flow: column;
    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    img {
        object-fit: cover;
        transition: all 250ms;
        margin: 0;
        filter: saturate(.8);
        //max-height: 300px;
        width:100%;
        @include media-breakpoint-down(md){
            width: 20%;
            max-height: 80px;
        }
    }
    a {
    color: $dark;
    text-transform: uppercase;
    font-size: 1em;
    display: flex;
    flex-flow: column;
    height: 100%;
    @include media-breakpoint-down(md){
        flex-flow: row;
    }
    &:hover,
    &:active {
         text-decoration: none;
         img {
             filter: saturate(1);
            }
            .card-link-chevron {
                right: 1rem;
                opacity: 1;
            }
        }

    }
}

// This is the VIEW Component of Flip Boxes - only styling
.flip-box-block {

    .card {
        &:hover {
            text-decoration: none;

            .content {
                box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
                transform: scale(1) translateY(-2px);
            }



            .icon-bg-rounded {
                animation: bounce 0.4s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
    }

    .icon-bg-rounded {
        background-color: white;
        position: absolute;
        top: -40px;
        left: -15px;
        z-index: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .flipbox-title {
        position: absolute;
        bottom: 0px;
        left: 0;
        font-weight: bold;
        font-size: 1em;
        padding: 10px 20px;

        svg {
            height: 100%;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(96%);

            path {
                fill: $secondary;
            }
        }

        &.secondary {
            background: #8b592b;
            background: -moz-linear-gradient(left, #8b592b 0%, #6a441e 100%);
            background: -webkit-linear-gradient(left, #8b592b 0%, #6a441e 100%);
            background: linear-gradient(to right, #8b592b 0%, #6a441e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b592b', endColorstr='#6a441e', GradientType=1);

            svg path {
                fill: #6a441e;
            }
        }

        &.primary {
            background: #09a536;
            background: -moz-linear-gradient(left, #09a536 0%, #82bb23 100%);
            background: -webkit-linear-gradient(left, #09a536 0%, #82bb23 100%);
            background: linear-gradient(to right, #09a536 0%, #82bb23 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09a536', endColorstr='#82bb23', GradientType=1);

            svg path {
                fill: #82bb23;
            }
        }
    }

    .inner {
        font-size: .8rem;
        z-index: 1;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .back .inner .return {
        border: 1px solid $dark;
        padding: 10px;
        width: 40px;
        height: 40px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        margin-left: auto;
        font-size: 1.3em;
    }
}

.card-link-chevron {
    transition: all 250ms;
    position: absolute;
    right: 0; 
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2LjgiIGhlaWdodD0iMTEuNiIgdmlld0JveD0iMCAwIDYuOCAxMS42Ij48cGF0aCBkPSJNOS4xNjMsNC41MTZjLjQxOC40MDgsNC41LDQuNyw0LjUsNC43YTEuMDk0LDEuMDk0LDAsMCwxLDAsMS41NzZzLTQuMDg0LDQuMjg5LTQuNSw0LjdhMS4xODgsMS4xODgsMCwwLDEtMS42MTUsMCwxLjA2MywxLjA2MywwLDAsMSwwLTEuNTc0TDExLjMsMTAsNy41NDgsNi4wOTJhMS4wNjYsMS4wNjYsMCwwLDEsMC0xLjU3NkExLjE4NywxLjE4NywwLDAsMSw5LjE2Myw0LjUxNloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03LjIgLTQuMTk5KSIgZmlsbD0iI2RhZGFkYSIvPjwvc3ZnPg==);
}



