$slick-loader-path: "../";

@import "../../../node_modules/slick-carousel/slick/slick";
@import "../../../node_modules/slick-carousel/slick/slick-theme";


.slick-arrow.slick-hidden {
    display: block;
}
.slick-dots {
    li::before {
    display: none;
}
 li button {
    content: "";
    padding: 0;
    width: 20px;
    height: 5px;
    background-color: $secondary;
    opacity: 1;
}
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li.slick-active button {
    background-color: $primary;
}

.slick-dots {
    bottom: -72px;
    z-index: 2;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
}

.slick-arrow-custom {
    z-index: 1;
    position: relative;

    &.next-slick {
        svg {
            transform: rotate(180deg);
        }
    }

    svg {
        width: 3em;
        height: 3em;
        cursor: pointer;

        &:hover path {
            stroke: $primary;
        }

        path {
            stroke: $secondary;
        }
    }

}

.slick-dotted.slick-slider {
    //margin-bottom: 80px;

    @include media-breakpoint-up(md) {
        //margin-bottom: 120px;
    }

}



.cards-slider .slick-track {
    display: flex;

    .slick-slide {
        display: flex;
        height:auto;
        justify-content: center;
        }

}

#custom-slider-arrows .slick-slide > div {
    width:100%;
}


.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("img/ajax-loader.gif") center center no-repeat;
    }
}