$primary: #007ab9;
$secondary: #a7c6e2;
$lightblue: #DAE9F6;

$light-primary: #CCDEEF;
$gray-100: #f8f9fa !default;
$gray-300: #dee2e6 !default;
$gray-500: #adb5bd !default;
$gray-800: #343a40 !default;

$dark: #646567;

$enable-rounded: false;
$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "lightblue": $lightblue,
    "multifunktionssystem": #FFCC00,
    "luftbefeuchtung": #00b0f0,
    "waermerueckgewinnung": #ea3833,
    "rueckkuehlung": #00cf94,
    "umkehrosmoseanlagen": #92d050
  ),
  $theme-colors
);

$link-color: $primary;


// Grid

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 782px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// utility 

$spacer: 1.5rem;

// Cards
$card-border-radius: 0;
$card-border-color: none;
$card-color: white;
$card-bg: transparent;

$font-family-sans-serif: "Open Sans";
$lead-font-size: 1.3em;

// Typo

$body-color: $dark;
$h2-font-size: 1.9em;
$h3-font-size: 1.6em;
$headings-font-weight: 200;
$headings-margin-bottom: $spacer;

//Buttons
$btn-padding-y: .4rem;
$btn-padding-x: 1.3rem;
$btn-border-radius: 50px;

// slick

$slick-arrow-color: $secondary;
$slick-font-family: "Open Sans";

