@import "./fonts";
@import "./variables";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "./globals";
@import "./searchform";


@import "./karten";
@import "./site-footer";
@import "./site-meta-contact";


@import "./above-the-fold/site-navigation";
@import "./above-the-fold/hamburger-icon";
@import "./above-the-fold/hero-content";

@import "./slick-custom";
@import "./blocks/cards_view";

@import "./gutenberg";

.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }