/* FLIP BOX START */
@import "../../../scss/variables";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


.flip-box-block {


    .card {
        width: 100%;
        perspective: 1500px;
        transition: .3s;
        height: 55vw;
        max-height: unset;

        &.is_flipbox .flipbox_label {
            cursor: pointer;
        }

        @include media-breakpoint-up(md) {
            height: 23vw;
        }

        @include media-breakpoint-up(lg) {
            height: 250px;
        }

        .more {
            display: none;

            &:checked~.content {
                transform: rotateY(180deg);
            }
        }

        .content {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);

            .front,
            .back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                .inner {
                    font-size: .7rem;
                    z-index: 1;
                    position: relative;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .back {
                transform: rotateY(180deg);

                .inner {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .flipbox_label {
                cursor: pointer;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            .flipbox_label:hover .card-hexagon-hover {
                //animation: bounce 0.4s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }

            .hexagon-bg-slide {
                height: 90%;
                width: auto;
                object-fit: contain;

            }

            .hexagon-icon {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }
}