.site-header {
    //margin-top: -7vw;
    position: relative;
    //padding-top: 7vw;
}

.hero-bg-img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70vh;
    max-height: 670px;
    position: relative;
    &:after {
        content: '';
        display: table;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        z-index: 0;
        opacity: 0.7;
        visibility: hidden;
    }
}


.hero-content {
    z-index: 3 !important;
    padding: 95px 15px 165px 15px;
    width: 100%;
    @include media-breakpoint-up(md) {
        padding-bottom: 255px;
    }
}

.site h1 {
    color: white;
    font-weight: 800;
    font-size: 8vw;

    @media (min-width: 993px) {
        font-size: 3em;
        //width: 16em;
    }

    @media (min-width: 576px) and (max-width: 992px) {
        font-size: 2.3em;
        //width: 16em;
    }

    small {
        color: $secondary;
        text-transform: none;
        word-break: break-word;
        display: block;
        line-height: 1.4;
    }
}

.hero-default-spacer {
    height: 15vw;
    min-height: 230px;
}
